.myslider {
  width: 94%;
  margin-left: 2rem;
}
h1 {
  text-align: start;
  margin-left: 3rem;
}
.imgone {
  width: 87%;
  height: 480px;
  margin-top: 2rem;
}

.imgfive {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  padding-left: 1.5rem;

  margin: 1rem;
}
.imgfive > img {
  height: 210px;
  width: 160px;
}

.imgeight {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  padding-left: 1rem;

  gap: 5px;
}
.imgeight > img {
  width: 125px;
  height: 160px;
}

.imgten {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-left: 1rem;
}
.imgten > img {
  width: 140px;
  height: 180px;
}

.imgtwelve {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  padding-left: 0.75rem;
  gap: 5px;
}
.imgtwelve > img {
  width: 120px;
  height: 180px;
}
.imgthirteen {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  margin-left: 1rem;
}
.imgthirteen > img {
  width: 120px;
  height: 140px;
}

.imgfourteen {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  margin-left: 1rem;
}
.imgfourteen > img {
  width: 120px;
  height: 160px;
}
.imgfifteen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-left: 1rem;
}
.imgfifteen > img {
  width: 250px;
  height: 200px;
}
.imgsixteen {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  margin-left: 1rem;
}
.imgsixteen > img {
  width: 165px;
  height: 140px;
}
.imgseventeen {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.imgseventeen > img {
  width: 120px;
  height: 160px;
}

@media (max-width: 1024px) {
  .imgone {
    width: 80%;
    height: 150px;
  }

  .imgfive {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-left: 2rem;
  }

  .imgeight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .imgten {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding-left: 30px;
  }

  .imgtwelve {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }
}
@media (max-width: 480px) {
  .imgone {
    width: 100%;
    height: 100px;
  }

  .imgfive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 0.5rem;
  }
  .imgfive > img {
    height: 170px;
    width: 150px;
  }

  .imgeight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 0.5rem;
  }
  .imgeight > div > img {
    height: 200px;
    width: 170px;
  }

  .imgten {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .imgten > img {
    height: 220px;
    width: 170px;
  }

  .imgtwelve {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
  }
  .imggreen {
    height: 210px;
    width: 175px;
  }
}
